---
import { cn } from "../lib/utils";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string;
}

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class={cn(
    "text-sm font-semibold no-underline leading-6 text-muted-foreground hover:text-foreground transition-colors",
    className
  )}
  {...props}
>
  <slot />
</a>

<style></style>
